---
layout: default
title: Tags
permalink: /tags/
---
<div class="container">
  <div class="archive-box"><h1 class="archive-title">Tags</h1></div>
  <nav class="tag-index tag__cloud" aria-label="Post tags">
    {% assign sorted_tags = site.tags | sort %}
    {% for tag in sorted_tags %}
      <a href="#tag-{{ tag[0] | url_encode | url_encode }}">{{ tag[0] | escape }}</a>
    {% endfor %}
  </nav>
  {% for tag in sorted_tags %}
  <section class="tags" id="tag-{{ tag[0] | url_encode }}">
    <div class="archive-box">
      <span class="archive-meta">{{ tag[1].size }} {% if tag[1].size == 1 %}post{% else %}posts{% endif %} tagged</span>
      <h2 class="archive-title">{{ tag[0] | escape }}</h2>
    </div>
    <ul class="archive-list">
      {% for post in tag[1] %}
        <li><a href="{{ post.url | relative_url }}">{{ post.title | escape }}</a> <time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: '%b %-d, %Y' }}</time></li>
      {% endfor %}
    </ul>
  </section>
  {% endfor %}
</div>
