{% if paginator.total_pages > 1 %}
<div class="container">
  <div class="row">
    <nav class="col col-12 load-more load-more-section pagination" aria-label="Post pagination">
      {% if paginator.previous_page %}
        <a class="button button--middle" href="{{ paginator.previous_page_path | relative_url }}" rel="prev">Newer posts</a>
      {% endif %}
      <span>Page {{ paginator.page }} of {{ paginator.total_pages }}</span>
      {% if paginator.next_page %}
        <a class="button button--middle" href="{{ paginator.next_page_path | relative_url }}" rel="next">Older posts</a>
      {% endif %}
    </nav>
  </div>
</div>
{% endif %}
